Flask==2.3.2
gunicorn==21.2.0
psycopg2==2.9.6
requests==2.31.0

# authlib
git+https://github.com/OpenSlides/openslides-auth-service.git@38120960193a6c7c637ecc91a4b4dff51e7df90c#egg=authlib&subdirectory=auth/libraries/pip-auth
