simplejson==3.17.2
fastjsonschema==2.15.1
requests==2.25.1
roman==3.3
mypy-extensions==0.4.3
typing-extensions==3.10.0.0
dependency_injector==4.32.3
werkzeug==2.0.1
gunicorn==20.1.0
bleach==3.3.0
PyPDF2==1.26.0
lxml==4.6.3
git+git://github.com/OpenSlides/openslides-auth-service@e19a3ea652244fc8b06cdba206cbc2173c54cc6c#egg=authlib&subdirectory=auth/libraries/pip-auth # authlib
git+git://github.com/OpenSlides/openslides-datastore-service@ba874ee191ada0d0287437a038f390fbf22a5d80#egg=datastore # datastore
