simplejson==3.17.2
fastjsonschema==2.14.5
requests==2.24.0
roman==3.3
mypy-extensions==0.4.3
typing-extensions==3.7.4.3
dependency_injector==3.44.0
Werkzeug==1.0.1
gunicorn==20.0.4
bleach==3.2.1
git+git://github.com/OpenSlides/openslides-auth-service@a0942237aec45a968ef7b0d0e3829d966f65747a#egg=authlib&subdirectory=auth/libraries/pip-auth # authlib
