simplejson==3.17.2
fastjsonschema==2.15.1
requests==2.25.1
roman==3.3
mypy-extensions==0.4.3
typing-extensions==3.10.0.0
dependency_injector==4.32.3
werkzeug==2.0.1
gunicorn==20.1.0
bleach==3.3.0
PyPDF2==1.26.0
lxml==4.6.3
git+git://github.com/OpenSlides/openslides-auth-service@9e252f33ccde41137a0a7174e8958d8fa3beb2f1#egg=authlib&subdirectory=auth/libraries/pip-auth # authlib
git+git://github.com/OpenSlides/openslides-datastore-service@9b7baf298f292ef24a79b04137388d3202536c4e#egg=datastore # datastore