Flask==2.3.2
gunicorn==21.2.0
psycopg2==2.9.6
requests==2.31.0

# authlib
git+https://github.com/OpenSlides/openslides-auth-service.git@da6d2a94c51e25f431d7ffe4841d7e73d8cdc229#egg=authlib&subdirectory=auth/libraries/pip-auth
argon2-cffi
