services:
    backend:
        build:
            context: ..
            target: "${CONTEXT}"
            args:
                CONTEXT: "${CONTEXT}"
        image: openslides-backend-${CONTEXT}
        user: ${USER_ID}:${GROUP_ID}
        ports:
            - "9002:9002"
            - "9003:9003"
            - "5678:5678"
        command: sleep infinity
        volumes:
            - ../openslides_backend:/app/openslides_backend
            - ../tests:/app/tests
            - ../cli:/app/cli
            - ../data:/app/data
            - ../meta:/app/meta
            - ../requirements:/app/requirements
            - ../scripts:/app/scripts
        environment:
            - AUTH_HOST=auth
            - MESSAGE_BUS_HOST=redis
            - CACHE_HOST=redis
            - DATABASE_HOST=postgres
        depends_on:
            - postgres
            - auth
            - vote
    auth:
        build:
            context: "https://github.com/OpenSlides/openslides-auth-service.git#feature/relational-db"
            target: "dev"
            args:
                CONTEXT: "dev"
        image: openslides-auth-dev
        ports:
            - "9004:9004"
        environment:
            - ACTION_HOST=backend
            - ACTION_PORT=9002
            - MESSAGE_BUS_HOST=redis
            - CACHE_HOST=redis
        depends_on:
            - redis
    vote:
        build:
            context: "https://github.com/OpenSlides/openslides-vote-service.git#feature/relational-db"
            target: "dev"
            args:
                CONTEXT: "dev"
        image: openslides-vote-dev
        ports:
            - "9013:9013"
        environment:
            - OPENSLIDES_DEVELOPMENT=1
            - MESSAGING=redis
            - AUTH_HOST=auth
            - DATABASE_HOST=postgres
            - VOTE_DATABASE_HOST=postgres
            - MESSAGE_BUS_HOST=redis
            - CACHE_HOST=redis
        depends_on:
            - redis
            - auth
    postgres:
        image: postgres:15
        command: ["postgres", "-c", "log_statement=all"]
        environment:
            - POSTGRES_USER=openslides
            - POSTGRES_PASSWORD=openslides
            - POSTGRES_DB=openslides
    redis:
        image: redis:alpine
        ports:
            - "6379:6379"
