version: "3"
services:
    backend:
        build:
            context: ..
            dockerfile: dev/Dockerfile.dev
        image: openslides-backend-dev
        user: $USER_ID:$GROUP_ID
        ports:
            - "9002:9002"
            - "9003:9003"
            - "5678:5678"
        command: sleep infinity
        volumes:
            - ../openslides_backend:/app/openslides_backend
            - ../migrations:/app/migrations
            - ../tests:/app/tests
            - ../cli:/app/cli
            - ../global:/app/global
            - ../scripts:/app/scripts
        environment:
            - DATASTORE_READER_HOST=reader
            - DATASTORE_READER_PORT=9010
            - DATASTORE_WRITER_HOST=writer
            - DATASTORE_WRITER_PORT=9011
            - AUTH_HOST=auth
        depends_on:
            - writer
        networks:
            - datastore
            - postgresql
            - auth
    reader:
        build:
            context: "https://github.com/OpenSlides/openslides-datastore-service.git#main"
            args:
                MODULE: "reader"
                PORT: "9010"
        image: openslides-datastore-reader
        ports:
            - "9010:9010"
        environment:
            - OPENSLIDES_DEVELOPMENT=1
        depends_on:
            - postgresql
        networks:
            - datastore
            - postgresql
    writer:
        build:
            context: "https://github.com/OpenSlides/openslides-datastore-service.git#main"
            args:
                MODULE: "writer"
                PORT: "9011"
        image: openslides-datastore-writer
        ports:
            - "9011:9011"
        environment:
            - OPENSLIDES_DEVELOPMENT=1
        depends_on:
            - postgresql
            - redis
        networks:
            - datastore
            - postgresql
            - redis
    auth:
        build:
            context: "https://github.com/OpenSlides/openslides-auth-service.git#main"
            dockerfile: "Dockerfile.dev"
        image: openslides-auth-dev
        ports:
            - "9004:9004"
        environment:
            - MESSAGE_BUS_HOST=redis
            - CACHE_HOST=cache
            - DATASTORE_READER_HOST=reader
            - DATASTORE_READER_PORT=9010
            - DATASTORE_WRITER_HOST=writer
            - DATASTORE_WRITER_PORT=9011
        depends_on:
            - reader
            - writer
            - redis
            - cache
        networks:
            - datastore
            - auth
            - redis
            - cache
    vote:
        build:
            context: "https://github.com/MJJojo97/openslides-vote-service.git#main"
        image: openslides-vote-dev
        ports:
            - "9013:9013"
        environment:
            - OPENSLIDES_DEVELOPMENT=true
            - VOTE_HOST=vote
            - VOTE_PORT=9013
            - DATASTORE_READER_HOST=reader
            - MESSAGING=redis
            - MESSAGE_BUS_HOST=redis
            - VOTE_REDIS_HOST=cache
            - VOTE_DATABASE_HOST=postgresql
            - VOTE_DATABASE_USER=openslides
            - VOTE_DATABASE_PASSWORD=openslides
            - VOTE_DATABASE_NAME=openslides
            - AUTH=ticket
            - AUTH_HOST=auth
        depends_on:
            - reader
            - redis
            - auth
            - cache
        networks:
            - datastore
            - redis
            - auth
            - cache
            - postgresql
    postgresql:
        image: postgres:11
        environment:
            - POSTGRES_USER=openslides
            - POSTGRES_PASSWORD=openslides
            - POSTGRES_DB=openslides
        networks:
            - postgresql
    redis:
        image: redis:alpine
        ports:
            - "6379:6379"
        networks:
            - redis
    cache:
        image: redis:alpine
        expose:
            - 6379
        networks:
            - cache
networks:
    datastore:
    postgresql:
    redis:
    cache:
    auth:
