version: "3"
services:
    backend:
        build:
            context: ..
            dockerfile: dev/Dockerfile.dev
        image: openslides-backend-dev
        user: $USER_ID:$GROUP_ID
        ports:
            - "9002:9002"
            - "9003:9003"
            - "5678:5678"
        command: sleep infinity
        volumes:
            - ../openslides_backend:/app/openslides_backend
            - ../tests:/app/tests
            - ../cli:/app/cli
            - ../global:/app/global
            - ../scripts:/app/scripts
        environment:
            - DATASTORE_READER_HOST=datastore-reader
            - DATASTORE_READER_PORT=9010
            - DATASTORE_WRITER_HOST=datastore-writer
            - DATASTORE_WRITER_PORT=9011
            - AUTH_HOST=auth
            - MESSAGE_BUS_HOST=redis
            - CACHE_HOST=redis
            - DATABASE_HOST=postgres
            - DATASTORE_LOG_LEVEL=CRITICAL
        depends_on:
            - datastore-writer
        networks:
            - datastore
            - postgres
            - auth
            - redis
    datastore-reader:
        build:
            context: "https://github.com/OpenSlides/openslides-datastore-service.git#main"
            args:
                MODULE: "reader"
                PORT: "9010"
        image: openslides-datastore-reader
        ports:
            - "9010:9010"
        environment:
            - OPENSLIDES_DEVELOPMENT=1
            - DATABASE_HOST=postgres
        depends_on:
            - postgres
        networks:
            - datastore
            - postgres
    datastore-writer:
        build:
            context: "https://github.com/OpenSlides/openslides-datastore-service.git#main"
            args:
                MODULE: "writer"
                PORT: "9011"
        image: openslides-datastore-writer
        ports:
            - "9011:9011"
        environment:
            - OPENSLIDES_DEVELOPMENT=1
            - DATABASE_HOST=postgres
        depends_on:
            - postgres
            - redis
        networks:
            - datastore
            - postgres
            - redis
    auth:
        build:
            context: "https://github.com/OpenSlides/openslides-auth-service.git#main"
            dockerfile: "Dockerfile.dev"
        image: openslides-auth-dev
        ports:
            - "9004:9004"
        environment:
            - ACTION_HOST=backend
            - ACTION_PORT=9002
            - MESSAGE_BUS_HOST=redis
            - CACHE_HOST=redis
            - DATASTORE_READER_HOST=datastore-reader
            - DATASTORE_READER_PORT=9010
            - DATASTORE_WRITER_HOST=datastore-writer
            - DATASTORE_WRITER_PORT=9011
        depends_on:
            - datastore-reader
            - datastore-writer
            - redis
        networks:
            - datastore
            - auth
            - redis
    vote:
        build:
            context: "https://github.com/openslides/openslides-vote-service.git#vote-decrypt"
        image: openslides-vote-dev
        ports:
            - "9013:9013"
        environment:
            - OPENSLIDES_DEVELOPMENT=1
            - MESSAGING=redis
            - DATASTORE_READER_HOST=datastore-reader
            - AUTH_HOST=auth
            - VOTE_DECRYPT_SERVICE=vote-decrypt:9014
            - DATABASE_HOST=postgres
            - VOTE_DATABASE_HOST=postgres
            - MESSAGE_BUS_HOST=redis
            - CACHE_HOST=redis
        depends_on:
            - datastore-reader
            - redis
            - auth
            - vote-decrypt
        networks:
            - datastore
            - redis
            - auth
            - postgres
            - vote-decrypt

    vote-decrypt:
        build:
            context: "https://github.com/OpenSlides/vote-decrypt.git#main"
        image: vote-decrypt-dev
        ports:
            - "9014:9014"
        volumes:
            - ./vote_decrypt:/run/secrets
            - ../tests/system/action/poll/vote_decrypt_clear_data:/vote_data
        environment:
            - OPENSLIDES_DEVELOPMENT=1
            - VOTE_DECRYPT_PORT=9014
            - VOTE_DECRYPT_STORE=vote_data
        networks:
            - vote-decrypt
            - postgres
    postgres:
        image: postgres:15
        environment:
            - POSTGRES_USER=openslides
            - POSTGRES_PASSWORD=openslides
            - POSTGRES_DB=openslides
        networks:
            - postgres
    redis:
        image: redis:alpine
        ports:
            - "6379:6379"
        networks:
            - redis
networks:
    datastore:
    postgres:
    redis:
    auth:
    vote-decrypt:
