services:
    backend-action:
        build: 
            context: ../..
            target: "prod"
            args:
                CONTEXT: "prod"
        image: openslides-backend
        ports:
            - "9002:9002"
        environment:
            - OPENSLIDES_BACKEND_COMPONENT=action
            - DATABASE_HOST=postgres
        depends_on:
            - postgres
            - redis
        secrets:
            - postgres_password
    backend-presenter:
        build: 
            context: ../..
            target: "prod"
            args:
                CONTEXT: "prod"
        image: openslides-backend
        ports:
            - "9003:9003"
        environment:
            - OPENSLIDES_BACKEND_COMPONENT=presenter
            - DATABASE_HOST=postgres
        depends_on:
            - postgres
            - redis
        secrets:
            - postgres_password
    postgres:
        image: postgres:15
        environment:
            - POSTGRES_USER=openslides
            - POSTGRES_PASSWORD=openslides
            - POSTGRES_DB=openslides
    redis:
        image: redis:alpine
secrets:
    postgres_password:
        file: ./secrets/postgres_password
