from typing import Optional, List
from datastore.migrations import (
    BaseMigration,
    MigrationKeyframeAccessor,
    BaseEvent,
    PositionData,
)

class Migration(BaseMigration):
    target_migration_index = 2

    def migrate_event(
        self,
        event: BaseEvent,
        old_accessor: MigrationKeyframeAccessor,
        new_accessor: MigrationKeyframeAccessor,
        position_data: PositionData,
    ) -> Optional[List[BaseEvent]]:
        return [event]
