-r partial/requirements_local_services.txt
-r partial/requirements_production.txt
-r partial/requirements_development.txt

# relative path in the docker container
-r ../../datastore-service/requirements/requirements-general.txt
-r ../../authlib/requirements.txt
