Babel==2.13.1
bleach[css]==6.1.0
dependency_injector==4.41.0
fastjsonschema==2.19.0
gunicorn==21.2.0
lxml==4.9.3
pypdf[crypto]==3.17.1
requests==2.31.0
roman==4.1
simplejson==3.19.2
Werkzeug==3.0.1

# authlib
git+https://github.com/OpenSlides/openslides-auth-service.git@da6d2a94c51e25f431d7ffe4841d7e73d8cdc229#egg=authlib&subdirectory=auth/libraries/pip-auth
argon2-cffi

# opentelemetry
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-exporter-otlp==1.21.0
opentelemetry-instrumentation-flask==0.42b0
opentelemetry-instrumentation-requests==0.42b0
