# -r https://raw.githubusercontent.com/OpenSlides/openslides-datastore-service/${DATASTORE_COMMIT_HASH}/requirements/requirements-general.txt
-r https://raw.githubusercontent.com/peb-adr/openslides-datastore-service/70159eaf6169816fcbd91ce49828f9d9483fab75/requirements/requirements-general.txt

types-redis==4.1.18
