Babel==2.15.0
beautifulsoup4==4.12.3
bleach[css]==6.1.0
dacite==1.7.0
dependency_injector==4.41.0
fastjsonschema==2.19.1
Flask==3.0.3
gunicorn==22.0.0
lxml==5.1.0
psycopg[c]==3.1.18
psycopg-pool==3.2.1
pygments==2.18.0
pypdf[crypto]==4.2.0
python-magic==0.4.27
python-sql==1.5.0
requests==2.31.0
roman==4.2
simplejson==3.19.2
Werkzeug==3.0.3

# opentelemetry
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-instrumentation-requests==0.45b0
