git+https://github.com/OpenSlides/openslides-datastore-service.git@${DATASTORE_COMMIT_HASH}
git+https://github.com/kryptance/openslides-auth-service.git@${AUTH_COMMIT_HASH}#egg=os_authlib&subdirectory=libraries/pip-auth
